@font-face {
  font-family: "dzeragir";
  src: url("../../../fonts/fonter.am_shk-dzeragir/SHK_Dzeragir.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.es-hamadzayn-em {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  position: relative;

  .error-message {
    color: red;
    margin-top: 10px;
  }

  .success-message {
    color: green;
    margin-top: 10px;
  }

  p {
    margin: 0;
    text-align: center;
    font-family: "armenian-form";
    color: rgb(219, 73, 97);
    font-size: 20px;
    z-index: 9999;
    color: rgb(255, 98, 124);
    position: absolute;
    top: 43%;
    text-shadow: 0 0 10px pink;
  }
}

@media (max-width: 900px) {
  .es-hamadzayn-em {
    height: 50vh;
  }
}

@media (max-width: 600px) {
  .es-hamadzayn-em {
    height: 55vh;
  }

  .es-hamadzayn-em > svg {
    height: 360px;
  }
}

@media (max-width: 400px) {
  .es-hamadzayn-em {
    height: 70vh;
  }
}
