.weeding-first-example-drop-dawn {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  padding-top: 30px;
  &-burger-menu {
    font-size: 30px;
  }
  .weeding-first-example-drop-dawn-cucak {
    display: none;
  }
  &-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease;
    width: 100%;
  }
  &-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
    transition: 0.3s ease;
    width: 100%;
  }
  .weeding-first-example-drop-dawn-menu-ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: black;
  }
}

@media screen and (max-width: 700px) {
  .weeding-first-example-drop-dawn {
    display: flex;
    height: 300px;
    &-menu.active {
      transition: 0.3s ease;
      width: 100%;
      height: 300px;
      background-color: white;
      position: absolute;
      top: 60px;
      left: 0;
    }
  }

  .weeding-first-example-drop-dawn-burger-menu {
    font-size: 24px;
  }

  .weeding-first-example-drop-dawn-menu-ul {
    flex-direction: column;
    gap: 15px;
  }
}
